.lf-container-box {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.lf-container-box {
		width: 750px
	}
}

@media (min-width:992px) {
	.lf-container-box {
		width: 970px
	}
}

@media (min-width:1200px) {
	.lf-container-box {
		width: 1170px
	}
}

.lf-row {
	margin-right: -15px;
	margin-left: -15px
}

.lf-row:after {
	clear: both;
}

.lf-col-lg-1,
.lf-col-lg-10,
.lf-col-lg-11,
.lf-col-lg-12,
.lf-col-lg-2,
.lf-col-lg-3,
.lf-col-lg-4,
.lf-col-lg-5,
.lf-col-lg-6,
.lf-col-lg-7,
.lf-col-lg-8,
.lf-col-lg-9,
.lf-col-md-1,
.lf-col-md-10,
.lf-col-md-11,
.lf-col-md-12,
.lf-col-md-2,
.lf-col-md-3,
.lf-col-md-4,
.lf-col-md-5,
.lf-col-md-6,
.lf-col-md-7,
.lf-col-md-8,
.lf-col-md-9,
.lf-col-sm-1,
.lf-col-sm-10,
.lf-col-sm-11,
.lf-col-sm-12,
.lf-col-sm-2,
.lf-col-sm-3,
.lf-col-sm-4,
.lf-col-sm-5,
.lf-col-sm-6,
.lf-col-sm-7,
.lf-col-sm-8,
.lf-col-sm-9,
.lf-col-xs-1,
.lf-col-xs-10,
.lf-col-xs-11,
.lf-col-xs-12,
.lf-col-xs-2,
.lf-col-xs-3,
.lf-col-xs-4,
.lf-col-xs-5,
.lf-col-xs-6,
.lf-col-xs-7,
.lf-col-xs-8,
.lf-col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}

.lf-col-xs-1,
.lf-col-xs-10,
.lf-col-xs-11,
.lf-col-xs-12,
.lf-col-xs-2,
.lf-col-xs-3,
.lf-col-xs-4,
.lf-col-xs-5,
.lf-col-xs-6,
.lf-col-xs-7,
.lf-col-xs-8,
.lf-col-xs-9 {
	float: left
}

.lf-col-xs-12 {
	width: 100%
}

.lf-col-xs-11 {
	width: 91.66666667%
}

.lf-col-xs-10 {
	width: 83.33333333%
}

.lf-col-xs-9 {
	width: 75%
}

.lf-col-xs-8 {
	width: 66.66666667%
}

.lf-col-xs-7 {
	width: 58.33333333%
}

.lf-col-xs-6 {
	width: 50%
}

.lf-col-xs-5 {
	width: 41.66666667%
}

.lf-col-xs-4 {
	width: 33.33333333%
}

.lf-col-xs-3 {
	width: 25%
}

.lf-col-xs-2 {
	width: 16.66666667%
}

.lf-col-xs-1 {
	width: 8.33333333%
}

.lf-col-xs-pull-12 {
	right: 100%
}

.lf-col-xs-pull-11 {
	right: 91.66666667%
}

.lf-col-xs-pull-10 {
	right: 83.33333333%
}

.lf-col-xs-pull-9 {
	right: 75%
}

.lf-col-xs-pull-8 {
	right: 66.66666667%
}

.lf-col-xs-pull-7 {
	right: 58.33333333%
}

.lf-col-xs-pull-6 {
	right: 50%
}

.lf-col-xs-pull-5 {
	right: 41.66666667%
}

.lf-col-xs-pull-4 {
	right: 33.33333333%
}

.lf-col-xs-pull-3 {
	right: 25%
}

.lf-col-xs-pull-2 {
	right: 16.66666667%
}

.lf-col-xs-pull-1 {
	right: 8.33333333%
}

.lf-col-xs-pull-0 {
	right: auto
}

.lf-col-xs-push-12 {
	left: 100%
}

.lf-col-xs-push-11 {
	left: 91.66666667%
}

.lf-col-xs-push-10 {
	left: 83.33333333%
}

.lf-col-xs-push-9 {
	left: 75%
}

.lf-col-xs-push-8 {
	left: 66.66666667%
}

.lf-col-xs-push-7 {
	left: 58.33333333%
}

.lf-col-xs-push-6 {
	left: 50%
}

.lf-col-xs-push-5 {
	left: 41.66666667%
}

.lf-col-xs-push-4 {
	left: 33.33333333%
}

.lf-col-xs-push-3 {
	left: 25%
}

.lf-col-xs-push-2 {
	left: 16.66666667%
}

.lf-col-xs-push-1 {
	left: 8.33333333%
}

.lf-col-xs-push-0 {
	left: auto
}

.lf-col-xs-offset-12 {
	margin-left: 100%
}

.lf-col-xs-offset-11 {
	margin-left: 91.66666667%
}

.lf-col-xs-offset-10 {
	margin-left: 83.33333333%
}

.lf-col-xs-offset-9 {
	margin-left: 75%
}

.lf-col-xs-offset-8 {
	margin-left: 66.66666667%
}

.lf-col-xs-offset-7 {
	margin-left: 58.33333333%
}

.lf-col-xs-offset-6 {
	margin-left: 50%
}

.lf-col-xs-offset-5 {
	margin-left: 41.66666667%
}

.lf-col-xs-offset-4 {
	margin-left: 33.33333333%
}

.lf-col-xs-offset-3 {
	margin-left: 25%
}

.lf-col-xs-offset-2 {
	margin-left: 16.66666667%
}

.lf-col-xs-offset-1 {
	margin-left: 8.33333333%
}

.lf-col-xs-offset-0 {
	margin-left: 0
}

@media (min-width:768px) {

	.lf-col-sm-1,
	.lf-col-sm-10,
	.lf-col-sm-11,
	.lf-col-sm-12,
	.lf-col-sm-2,
	.lf-col-sm-3,
	.lf-col-sm-4,
	.lf-col-sm-5,
	.lf-col-sm-6,
	.lf-col-sm-7,
	.lf-col-sm-8,
	.lf-col-sm-9 {
		float: left
	}

	.lf-col-sm-12 {
		width: 100%
	}

	.lf-col-sm-11 {
		width: 91.66666667%
	}

	.lf-col-sm-10 {
		width: 83.33333333%
	}

	.lf-col-sm-9 {
		width: 75%
	}

	.lf-col-sm-8 {
		width: 66.66666667%
	}

	.lf-col-sm-7 {
		width: 58.33333333%
	}

	.lf-col-sm-6 {
		width: 50%
	}

	.lf-col-sm-5 {
		width: 41.66666667%
	}

	.lf-col-sm-4 {
		width: 33.33333333%
	}

	.lf-col-sm-3 {
		width: 25%
	}

	.lf-col-sm-2 {
		width: 16.66666667%
	}

	.lf-col-sm-1 {
		width: 8.33333333%
	}

	.lf-col-sm-pull-12 {
		right: 100%
	}

	.lf-col-sm-pull-11 {
		right: 91.66666667%
	}

	.lf-col-sm-pull-10 {
		right: 83.33333333%
	}

	.lf-col-sm-pull-9 {
		right: 75%
	}

	.lf-col-sm-pull-8 {
		right: 66.66666667%
	}

	.lf-col-sm-pull-7 {
		right: 58.33333333%
	}

	.lf-col-sm-pull-6 {
		right: 50%
	}

	.lf-col-sm-pull-5 {
		right: 41.66666667%
	}

	.lf-col-sm-pull-4 {
		right: 33.33333333%
	}

	.lf-col-sm-pull-3 {
		right: 25%
	}

	.lf-col-sm-pull-2 {
		right: 16.66666667%
	}

	.lf-col-sm-pull-1 {
		right: 8.33333333%
	}

	.lf-col-sm-pull-0 {
		right: auto
	}

	.lf-col-sm-push-12 {
		left: 100%
	}

	.lf-col-sm-push-11 {
		left: 91.66666667%
	}

	.lf-col-sm-push-10 {
		left: 83.33333333%
	}

	.lf-col-sm-push-9 {
		left: 75%
	}

	.lf-col-sm-push-8 {
		left: 66.66666667%
	}

	.lf-col-sm-push-7 {
		left: 58.33333333%
	}

	.lf-col-sm-push-6 {
		left: 50%
	}

	.lf-col-sm-push-5 {
		left: 41.66666667%
	}

	.lf-col-sm-push-4 {
		left: 33.33333333%
	}

	.lf-col-sm-push-3 {
		left: 25%
	}

	.lf-col-sm-push-2 {
		left: 16.66666667%
	}

	.lf-col-sm-push-1 {
		left: 8.33333333%
	}

	.lf-col-sm-push-0 {
		left: auto
	}

	.lf-col-sm-offset-12 {
		margin-left: 100%
	}

	.lf-col-sm-offset-11 {
		margin-left: 91.66666667%
	}

	.lf-col-sm-offset-10 {
		margin-left: 83.33333333%
	}

	.lf-col-sm-offset-9 {
		margin-left: 75%
	}

	.lf-col-sm-offset-8 {
		margin-left: 66.66666667%
	}

	.lf-col-sm-offset-7 {
		margin-left: 58.33333333%
	}

	.lf-col-sm-offset-6 {
		margin-left: 50%
	}

	.lf-col-sm-offset-5 {
		margin-left: 41.66666667%
	}

	.lf-col-sm-offset-4 {
		margin-left: 33.33333333%
	}

	.lf-col-sm-offset-3 {
		margin-left: 25%
	}

	.lf-col-sm-offset-2 {
		margin-left: 16.66666667%
	}

	.lf-col-sm-offset-1 {
		margin-left: 8.33333333%
	}

	.lf-col-sm-offset-0 {
		margin-left: 0
	}
}

@media (min-width:992px) {

	.lf-col-md-1,
	.lf-col-md-10,
	.lf-col-md-11,
	.lf-col-md-12,
	.lf-col-md-2,
	.lf-col-md-3,
	.lf-col-md-4,
	.lf-col-md-5,
	.lf-col-md-6,
	.lf-col-md-7,
	.lf-col-md-8,
	.lf-col-md-9 {
		float: left
	}

	.lf-col-md-12 {
		width: 100%
	}

	.lf-col-md-11 {
		width: 91.66666667%
	}

	.lf-col-md-10 {
		width: 83.33333333%
	}

	.lf-col-md-9 {
		width: 75%
	}

	.lf-col-md-8 {
		width: 66.66666667%
	}

	.lf-col-md-7 {
		width: 58.33333333%
	}

	.lf-col-md-6 {
		width: 50%
	}

	.lf-col-md-5 {
		width: 41.66666667%
	}

	.lf-col-md-4 {
		width: 33.33333333%
	}

	.lf-col-md-3 {
		width: 25%
	}

	.lf-col-md-2 {
		width: 16.66666667%
	}

	.lf-col-md-1 {
		width: 8.33333333%
	}

	.lf-col-md-pull-12 {
		right: 100%
	}

	.lf-col-md-pull-11 {
		right: 91.66666667%
	}

	.lf-col-md-pull-10 {
		right: 83.33333333%
	}

	.lf-col-md-pull-9 {
		right: 75%
	}

	.lf-col-md-pull-8 {
		right: 66.66666667%
	}

	.lf-col-md-pull-7 {
		right: 58.33333333%
	}

	.lf-col-md-pull-6 {
		right: 50%
	}

	.lf-col-md-pull-5 {
		right: 41.66666667%
	}

	.lf-col-md-pull-4 {
		right: 33.33333333%
	}

	.lf-col-md-pull-3 {
		right: 25%
	}

	.lf-col-md-pull-2 {
		right: 16.66666667%
	}

	.lf-col-md-pull-1 {
		right: 8.33333333%
	}

	.lf-col-md-pull-0 {
		right: auto
	}

	.lf-col-md-push-12 {
		left: 100%
	}

	.lf-col-md-push-11 {
		left: 91.66666667%
	}

	.lf-col-md-push-10 {
		left: 83.33333333%
	}

	.lf-col-md-push-9 {
		left: 75%
	}

	.lf-col-md-push-8 {
		left: 66.66666667%
	}

	.lf-col-md-push-7 {
		left: 58.33333333%
	}

	.lf-col-md-push-6 {
		left: 50%
	}

	.lf-col-md-push-5 {
		left: 41.66666667%
	}

	.lf-col-md-push-4 {
		left: 33.33333333%
	}

	.lf-col-md-push-3 {
		left: 25%
	}

	.lf-col-md-push-2 {
		left: 16.66666667%
	}

	.lf-col-md-push-1 {
		left: 8.33333333%
	}

	.lf-col-md-push-0 {
		left: auto
	}

	.lf-col-md-offset-12 {
		margin-left: 100%
	}

	.lf-col-md-offset-11 {
		margin-left: 91.66666667%
	}

	.lf-col-md-offset-10 {
		margin-left: 83.33333333%
	}

	.lf-col-md-offset-9 {
		margin-left: 75%
	}

	.lf-col-md-offset-8 {
		margin-left: 66.66666667%
	}

	.lf-col-md-offset-7 {
		margin-left: 58.33333333%
	}

	.lf-col-md-offset-6 {
		margin-left: 50%
	}

	.lf-col-md-offset-5 {
		margin-left: 41.66666667%
	}

	.lf-col-md-offset-4 {
		margin-left: 33.33333333%
	}

	.lf-col-md-offset-3 {
		margin-left: 25%
	}

	.lf-col-md-offset-2 {
		margin-left: 16.66666667%
	}

	.lf-col-md-offset-1 {
		margin-left: 8.33333333%
	}

	.lf-col-md-offset-0 {
		margin-left: 0
	}
}

@media (min-width:1200px) {

	.lf-col-lg-1,
	.lf-col-lg-10,
	.lf-col-lg-11,
	.lf-col-lg-12,
	.lf-col-lg-2,
	.lf-col-lg-3,
	.lf-col-lg-4,
	.lf-col-lg-5,
	.lf-col-lg-6,
	.lf-col-lg-7,
	.lf-col-lg-8,
	.lf-col-lg-9 {
		float: left
	}

	.lf-col-lg-12 {
		width: 100%
	}

	.lf-col-lg-11 {
		width: 91.66666667%
	}

	.lf-col-lg-10 {
		width: 83.33333333%
	}

	.lf-col-lg-9 {
		width: 75%
	}

	.lf-col-lg-8 {
		width: 66.66666667%
	}

	.lf-col-lg-7 {
		width: 58.33333333%
	}

	.lf-col-lg-6 {
		width: 50%
	}

	.lf-col-lg-5 {
		width: 41.66666667%
	}

	.lf-col-lg-4 {
		width: 33.33333333%
	}

	.lf-col-lg-3 {
		width: 25%
	}

	.lf-col-lg-2 {
		width: 16.66666667%
	}

	.lf-col-lg-1 {
		width: 8.33333333%
	}

	.lf-col-lg-pull-12 {
		right: 100%
	}

	.lf-col-lg-pull-11 {
		right: 91.66666667%
	}

	.lf-col-lg-pull-10 {
		right: 83.33333333%
	}

	.lf-col-lg-pull-9 {
		right: 75%
	}

	.lf-col-lg-pull-8 {
		right: 66.66666667%
	}

	.lf-col-lg-pull-7 {
		right: 58.33333333%
	}

	.lf-col-lg-pull-6 {
		right: 50%
	}

	.lf-col-lg-pull-5 {
		right: 41.66666667%
	}

	.lf-col-lg-pull-4 {
		right: 33.33333333%
	}

	.lf-col-lg-pull-3 {
		right: 25%
	}

	.lf-col-lg-pull-2 {
		right: 16.66666667%
	}

	.lf-col-lg-pull-1 {
		right: 8.33333333%
	}

	.lf-col-lg-pull-0 {
		right: auto
	}

	.lf-col-lg-push-12 {
		left: 100%
	}

	.lf-col-lg-push-11 {
		left: 91.66666667%
	}

	.lf-col-lg-push-10 {
		left: 83.33333333%
	}

	.lf-col-lg-push-9 {
		left: 75%
	}

	.lf-col-lg-push-8 {
		left: 66.66666667%
	}

	.lf-col-lg-push-7 {
		left: 58.33333333%
	}

	.lf-col-lg-push-6 {
		left: 50%
	}

	.lf-col-lg-push-5 {
		left: 41.66666667%
	}

	.lf-col-lg-push-4 {
		left: 33.33333333%
	}

	.lf-col-lg-push-3 {
		left: 25%
	}

	.lf-col-lg-push-2 {
		left: 16.66666667%
	}

	.lf-col-lg-push-1 {
		left: 8.33333333%
	}

	.lf-col-lg-push-0 {
		left: auto
	}

	.lf-col-lg-offset-12 {
		margin-left: 100%
	}

	.lf-col-lg-offset-11 {
		margin-left: 91.66666667%
	}

	.lf-col-lg-offset-10 {
		margin-left: 83.33333333%
	}

	.lf-col-lg-offset-9 {
		margin-left: 75%
	}

	.lf-col-lg-offset-8 {
		margin-left: 66.66666667%
	}

	.lf-col-lg-offset-7 {
		margin-left: 58.33333333%
	}

	.lf-col-lg-offset-6 {
		margin-left: 50%
	}

	.lf-col-lg-offset-5 {
		margin-left: 41.66666667%
	}

	.lf-col-lg-offset-4 {
		margin-left: 33.33333333%
	}

	.lf-col-lg-offset-3 {
		margin-left: 25%
	}

	.lf-col-lg-offset-2 {
		margin-left: 16.66666667%
	}

	.lf-col-lg-offset-1 {
		margin-left: 8.33333333%
	}

	.lf-col-lg-offset-0 {
		margin-left: 0
	}
}

/*公共样式*/
* {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	outline: none;
}

input,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none !important;
}

input {
	background: transparent;
}

a,
a:active,
a:focus,
a:hover {
	text-decoration: none;
}

em,
i {
	font-style: normal;
}

li {
	list-style: none;
}

input {
	border: none;
	outline: none;
}

.clearfixed {
	clear: both;
}

/*浮动*/
.lf-float-left {
	float: left;
}

.lf-float-right {
	float: right;
}

/*定位*/
.lf-position-relative {
	position: relative;
}

.lf-position-absolute {
	position: absolute;
}

/*边框*/
.lf-border-left {
	border-left: 1px solid #ccc !important;
}

.lf-border-right {
	border-right: 1px solid #ccc !important;
}

.lf-border-top {
	border-top: 1px solid #ccc !important;
}

.lf-border-bottom {
	border-bottom: 1px solid #ccc !important;
}

/*圆角*/
.lf-border-radius5 {
	border-radius: 5px !important;
}

.lf-border-radius10 {
	border-radius: 10px !important;
}

.lf-border-radius50 {
	border-radius: 50px !important;
}

.lf-border-radius50per {
	border-radius: 50% !important;
}

/*文本对齐*/
.lf-text-center {
	text-align: center;
}

.lf-text-left {
	text-align: left;
}

.lf-text-right {
	text-align: right;
}

/*宽度*/
.lf-with100 {
	width: 100%;
}

.lf-with90 {
	width: 90%;
}

.lf-with80 {
	width: 80%;
}

.lf-with70 {
	width: 70%;
}

.lf-with60 {
	width: 60%;
}

.lf-with50 {
	width: 50%;
}

.lf-with40 {
	width: 40%;
}

.lf-with30 {
	width: 30%;
}

.lf-with20 {
	width: 20%;
}

.lf-with10 {
	width: 10%;
}

.lf-contaner {
	width: 98%;
	margin: 0 auto;
}

/*display*/
.lf-inline {
	display: inline;
}

.lf-block {
	display: block;
}

.lf-hide {
	display: none;
}

/*背景*/
.lf-bg-grey {
	background: #f2f2f2;
}

.lf-bg-white {
	background: #fff;
}

/*颜色*/
.lf-color-white {
	color: #fff !important;
}

.lf-color-9 {
	color: #999 !important;
}

.lf-color-6 {
	color: #666 !important;
}

/*其他*/
.lf-box-sizing {
	box-sizing: border-box;
}

/*外边界*/
.lf-p0 {
	padding: 0;
}

.lf-m0 {
	margin: 0 !important;
}

.lf-mauto {
	margin: 0 auto !important;
}

.lf-m-t0 {
	margin-top: 0;
}

.lf-m-t10 {
	margin-top: 10px;
}

.lf-m-t15 {
	margin-top: 15px;
}

.lf-m-t20 {
	margin-top: 20px;
}

.lf-m-t30 {
	margin-top: 30px;
}

.lf-m-t40 {
	margin-top: 40px;
}

.lf-m-t45 {
	margin-top: 45px;
}

.lf-m-t50 {
	margin-top: 50px;
}

.lf-m-b0 {
	margin-bottom: 0 !important;
}

.lf-m-b10 {
	margin-bottom: 10px;
}

.lf-m-b15 {
	margin-bottom: 15px;
}

.lf-m-b20 {
	margin-bottom: 20px;
}

.lf-m-b30 {
	margin-bottom: 30px;
}

.lf-m-b40 {
	margin-bottom: 40px;
}

.lf-m-b45 {
	margin-bottom: 45px;
}

.lf-m-b50 {
	margin-bottom: 50px;
}

.lf-m-l0 {
	margin-left: 0 !important;
}

.lf-m-l10 {
	margin-left: 10px;
}

.lf-m-l15 {
	margin-left: 15px;
}

.lf-m-l20 {
	margin-left: 20px;
}

.lf-m-l30 {
	margin-left: 30px;
}

.lf-m-l40 {
	margin-left: 40px;
}

.lf-m-l45 {
	margin-left: 45px;
}

.lf-m-l50 {
	margin-left: 50px;
}

.lf-m-r0 {
	margin-right: 0 !important;
}

.lf-m-r10 {
	margin-right: 10px;
}

.lf-m-r15 {
	margin-right: 15px;
}

.lf-m-r20 {
	margin-right: 20px;
}

.lf-m-r30 {
	margin-right: 30px;
}

.lf-m-r40 {
	margin-right: 40px;
}

.lf-m-r45 {
	margin-right: 45px;
}

.lf-m-r50 {
	margin-right: 50px;
}

.lf-b-b0 {
	border-bottom: none !important;
}